body {
width: 100%;
height: 100%;
margin: 0;
padding: 0;
background: rgb(26,171,255);
background: linear-gradient(90deg, rgba(26,171,255,1) 18%, rgba(255,255,255,1) 50%, rgba(255,0,0,1) 100%);
font-family: 'Lora', sans-serif;
}

.tipContainer {
    background: rgb(89,194,255);
    background: linear-gradient(90deg, rgba(89,194,255,1) 0%, rgba(255,255,255,1) 50%, rgba(255,108,108,1) 100%);
    height: 525px;
    width: 360px;
    margin: 100px auto;
    
    border-radius: 15px 15px 15px 15px;
    box-shadow: 5px 3px 8px 3px rgb(103, 182, 235), -5px -3px 8px 3px rgb(219, 105, 105);
}

h1 {
    background-color: rgba(255, 255, 255, 0.938);
    color: rgb(65, 120, 156);
    text-align: center;
    border-radius: 15px 15px 0 0;
    padding: 7px 0;
    margin: 0;
    font-size: 24px;
    font-weight: normal;
}

p {
    padding-left: 20px;
}

#billAmt, #serviceQual, #numPeople {
    margin-left: 20px;
    height: 23px;
    width: 50%;
    padding-left: 5px;
}

#billAmt:focus {
    border: 3px solid rgba(255, 108, 108, 0.842);
    outline: none;

}

button {
    display: block;
    margin: 30px auto;
    text-transform: uppercase;
    font-weight: bold;
    width: 150px;
    height: 30px;
    font-size: 20px;
    background-color: lightcoral;
    color: white;
}

button:focus{
    outline: none;
    border: 3px solid rgba(255, 108, 108, 0.842);
}

button:hover {
    background-color: lightblue;

}

#tipAmount {
    text-align: center;
    font-size: 28px;
    color: rgb(27, 55, 131);
    font-weight: bold;
}